/target/
!/.idea/runConfigurations/
!.mvn/wrapper/maven-wrapper.jar
!/.idea/runConfigurations/WebApplication_Test_Server.xml
!/.idea/runConfigurations/Tomcat_9_0_13.xml
!/.idea/runConfigurations/clean_package.xml
!/.idea/runConfigurations/WebApplication_Live.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
